body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background :rgba(234,234,234,1)!important;
}
h5{
  font-weight : bold!important;
  font-size: 13px!important;
  color : #777;
  font-family: 'Poppins', sans-serif;
}
input{
  width: 181px;
  height: 32px;
}
.responsvie-menu{
  width : 100%;
  height : 130px;
  background : rgb(234,234,234);
  display : none;
}
.responsive-button{
  float: right;
  margin-top: -80px;
  margin-right: 50px;
  font-family: 'Poppins', sans-serif;
  width : 120px;
  height: 40px;
  border: 2px solid #d9b779;
  text-align: center;
  padding-top: 5px;
  background: black;
  opacity: 0.5;
  color : white;
  font-size: 18px;
  font-weight: bold;
}
.responsive-nav {
  display: none;
  margin-top: 50px;
}
.responsive-nav ul{
  text-decoration: none;
  list-style-type : none;
}
.responsive-nav ul li{
  padding-top: 20px;
}
.responsive-nav ul li a{
  color: black;
  text-decoration: none;
  list-style-type : none;
  font-weight: bold;
}
.responsive-button:focus ~ .content{
  transform: translateY(15%);
  transition: 0.6s;
}
.responsive-button:focus ~ .responsive-nav, .responsive-nav:hover{
  display: block;
}


.menu{
 width : 250px;
  float: left;
}
.logo{
  width : 138px;
  height : 65px;
  margin-left: 55px;
  margin-top : 45px;
}
.menu ul{
  list-style-type : none;
  margin-left : 17px;
  margin-top : 30px;
}
.menu ul li{
  padding-top : 20px;
  font-size : 14px;
  font-weight: bold;
}
.menu ul li a{
  text-decoration : none;
  color :rgba(39, 34, 34, 0.82);
}
.menu ul :hover {
  padding-left : 3px;
   transition: 0.4s;
  color:#d9b779;
}
.photo-one{
  position: relative;
}
.photo-two{
  position: relative;
}
.photo-third{
  position: relative;
}
.photo-four{
  position: relative;
}
.photo-five{
  position: relative;
}
.button{
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -90px;
  width : 180px;
  height: 60px;
  border: 2px solid #d9b779;
  text-align: center;
  padding-top: 10px;
  background: black;
  opacity: 0.5;
  color : white;
  font-size: 28px;
  font-weight: bold;
}


.photo-one:hover {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.5s;
  transform: scale(1.03);
}

.photo-two:hover {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.5s;
  transform: scale(1.03);
}

.photo-third:hover {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.5s;
  transform: scale(1.03);
}

.photo-four:hover {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.5s;
  transform: scale(1.03);
}

.photo-five:hover {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.5s;
  transform: scale(1.03);
}
.newsleter{
  margin-top : 40px;
  width : 103%;
  height : 125px;
  background : rgba(255, 255, 255, 0.45);
  text-align : center;
  padding-top : 10px;
  font-family: 'Poppins', sans-serif;
}

textarea {
  resize: none;
  border : none;
  background-color : white;
}
.join-us{
  width: 50%;
  height : 30px;
  background : #cecece;
  margin-left : auto;
  margin-right : auto;
  margin-top : 15px;
  text-align : center;
  padding-top : 5px;
  font-weight : bold;
  color : #777;
}
.icons{
  margin-top: 25px;
  width : 50%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
}
.text-homepage{
  margin-top: 5px;
  width : 50%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.icon-youtube{
  font-size: 20px;
}
.icon-youtube:hover{
  color : green;
  color:#d9b779;
}
.icon-instagram{
  font-size: 20px;
}
.icon-instagram:hover{
  color:#d9b779;
}
.icon-google{
  font-size: 20px;
}
.icon-google:hover{
  color:#d9b779;
}
.icon-facebook-squared{
  font-size: 20px;
}
.icon-facebook-squared:hover{
  color:#d9b779;
}
main{
  width : calc(100% - 251px);
  margin : 0;
  padding : 0;
  float: left;
  position : relative;
  transition: 0.6s;
}

*{
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 1%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.23%;}
.col-5 {width: 34%;}
.col-6 {width: 50%;}
.col-7 {width: 66%}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media screen and (max-width: 1020px){
  main{
    width: 100%;
  }
  .menu{
    display : none;
  }
  .content{
    width : 100%;
  }
  .photo-one {
    display : block;
  }
  .photo-two {
    display : block;
  }
  .responsvie-menu{
    display : block;
  }

}

@media screen and (max-width: 640px){
  .photo-one {
    display : block;
    width : 100%;
  }
  .photo-two {
    display : block;
    width : 100%;
  }
  .photo-third{
    width : 100%;
  }
  .photo-four{
    width : 100%;
  }
  .photo-five{
    width : 100%;
  }
  .responsive-button:focus ~ .content{
    transform: translateY(5%);
    transition: 0.6s;
  }
}
